@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;1,400;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Tipografías*/
h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.fondo {
  background-color: #242423;
}


.bannerintro {
  background-image: url("../assets/img/006uplight.jpg");
  background-color: rgba(15, 15, 15, 0.5);
  background-blend-mode: multiply;
  text-align: center;
  padding: 50px 0 50px 0;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bannerintro .bannerintrotexto {
  color: #fff;
  line-height: 3em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.bannerintro .bannerintrotexto .bannerintrotexto h2 {
  font-size: 45px;
  color: #fff;
  line-height: 3em;
  margin-top: 20px;
  margin-bottom: 20px;
}

.infouno {
  height: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  align-content: center;
  align-items: center;
  background-color: #D9BF77;
}

.infouno .colizquierda {
  grid-column: 2/6;
  grid-row: 2/10;
  display: inline-block;
  text-align: left;
  padding: 50px;
}

.infouno .colizquierda h3 {
  font-weight: 600;
  padding-bottom: 25px;
}

.infouno .colderecha {
  grid-column: 6/10;
  grid-row: 2/10;
}

.infouno .colderecha .pic img {
  object-fit: cover;
  width: 100%;
  height: auto;
}

.caja {
  font-size: 20px;
  line-height: 1.5em;
}

.caja__variante {
  line-height: 1.3em;
  font-size: 23px;
  margin-top: 10px;
  font-weight: 500;
  font-style: oblique;
}

.video_home {
  object-fit: cover;
  width: 100%;
  height: auto;
}

i {
  padding: 30px 0 30px 0;
}

#equipo {
  padding: 50px;
  text-align: center;
  background-color: #E8EDDF;
}

#equipo h1 {
  margin-bottom: 50px;
}

#equipo .cajagrande {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  #equipo .cajagrande {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

#equipo .cajagrande .box2 {
  color: #fff;
  background-color: #242423;
  margin: 80px 25px 80px 0;
  width: 30%;
  padding: 50px 20px 30px 20px;
}

#equipo .cajagrande .box2 h4 {
  margin-top: 50px;
}

#equipo .cajagrande .box2 img {
  border-radius: 50px 100px;
}

@media (min-width: 601px) and (max-width: 900px) {
  #equipo .cajagrande .box2 {
    width: 30%;
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (max-width: 600px) {
  #equipo .cajagrande .box2 {
    width: 100%;
    margin: 0px;
  }
}

.galeria {
  padding: 50px;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.portfolio img {
  width: 100%;
  height: auto;
}

/*Contacto*/
.contacto {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 120px;
}

.contanos {
  text-align: left;
  width: 40%;
  color: #8aa89e;
}

.contanos h1 {
  font-size: 80px;
  font-weight: 200;
}

.form {
  line-height: 2.3rem;
  width: 50%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 15px;
  text-align: left;
}

.no-salto {
  line-height: 0;
}

.form_p {
  font-size: 18px;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0;
}

/* Video CSS */
.video-container {
  background: black;
  height: 75vh;
  min-height: 25rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-container .overlay {
  background-image: linear-gradient(rgba(39, 37, 37, 0.212), #000);
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.video-container video {
  height: auto;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 40%;
  width: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

.video-container .container {
  position: relative;
  z-index: 2;
}

/*Pie de página*/

.pie {
  height: 20vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  background-color: #333333;
}

.pie img {
  width: 80px;
  grid-column: 2/4;
  margin: 5px 0 px 0;
}

.navegacion_pie {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: #f0f0f0;
  grid-column: 5/7;
  display: flex;
  justify-content: space-around;
}

.navegacion_pie a {
  color: #ddd;
  text-decoration: none;
}


.navegacion_pie li {
  list-style: none;
}

.redes {
  grid-column: 9/11;
}

.redes a {
  padding: 5px;
  color: white;
}

/*Mediaqueries*/
@media (min-width: 601px) and (max-width: 900px) {
  /*
	.cabecera {
		width: 100%;
		height: 20vh;
		position: fixed;
		z-index:9999;
	}
*/
  .logo {
    width: 70px;
  }
  .cabecera .navegacion {
    grid-column: 4/10;
  }
  .toggle {
    display: none;
  }
  .bannerhome {
    height: 100vh;
  }
  .bannertexto {
    grid-column: 2/8;
    grid-row: 5/10;
    text-align: center;
    color: #fff;
    line-height: 4em;
    text-shadow: 2px 2px 5px #000;
  }
  .bannertexto h1 {
    font-size: 40px;
    line-height: normal;
    letter-spacing: 0.05em;
  }
  .bannertexto h3 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: normal;
  }
  /*bannersinternos*/
  .bannerintro {
    padding-top: 20px;
  }
  .bannerintrotexto h2 {
    font-size: 30px;
    line-height: normal;
  }
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  /*infouno*/
  .infouno {
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #E8EDDF;
  }
  .colizquierda {
    text-align: center;
    padding: 40px;
  }
  .colizquierda h3 {
    font-weight: 600;
    padding-bottom: 18px;
  }
  .caja {
    font-size: 20px;
    line-height: 1.5em;
    display: inline-block;
  }
  .caja__variante {
    line-height: 1.3em;
    font-size: 18px;
    margin-top: 10px;
    font-style: oblique;
    font-weight: 500;
  }
  .colderecha {
    margin-bottom: -4px;
  }
  /*comotrabajamos*/
  #comotrabajamos h1 {
    font-size: 45px;
  }
  .cajagrande {
    max-width: 100%;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  .box1 {
    color: white;
    background-color: #D9BF77;
    width: 30%;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 30px;
  }
  .box1 p {
    margin-top: 10px;
    font-size: 16px;
  }
  .box1 h2 {
    margin-top: 20px;
    font-size: 24px;
    color: beige;
  }
  .box1 i {
    padding-top: 20px;
  }
  .fa-solid {
    font-size: 50px;
  }
  /*CTA*/
  #cta {
    padding-top: 30px;
  }
  #cta h1 {
    font-size: 30px;
  }
  .btn_cta {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #D9BF77;
  }
  /*somos*/
  /*iluminacion*/
  .producto {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .col_slides {
    width: 50%;
  }
  .col_slides img {
    width: 100%;
  }
  .col_desc {
    width: 50%;
  }
  .col_desc h2 {
    font-size: 25px;
  }
  .col_desc p {
    font-size: 14px;
  }
  /*footer*/
  /*Pie de página*/
  .pie {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    background-color: #333533;
  }
  .pie img {
    width: 60px;
  }
  .navegacion_pie {
    font-size: 11px;
  }
  .navegacion_pie a {
    padding: 5px;
  }
  /*contacto*/
  .contacto {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
  }
  .contanos h1 {
    font-size: 58px;
    font-weight: 200;
  }
  .contanos {
    text-align: center;
    width: 50%;
    color: #8aa89e;
  }
  .form {
    padding: 20px;
    width: 50%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    text-align: left;
  }
}

/*mobile*/
@media screen and (max-width: 600px) {
  /*
.cabecera {
	width: 100%;
	height: 10vh;
   	position: fixed;
	z-index:9999;
}
*/
  .logo {
    width: 50px;
  }
  .cabecera .navegacion {
    display: none;
  }
  .toggle {
    display: inline-block;
    grid-column: 9/10;
  }
  .bannerhome {
    height: 80vh;
    background-image: linear-gradient(to bottom, rgba(253, 249, 249, 0), rgba(0, 0, 0, 0.6)), url("../assets/img/sparkshome_mobile2.jpg");
    background-blend-mode: multiply;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
  }
  .bannertexto {
    grid-column: 2/8;
    grid-row: 5/10;
    text-align: center;
    color: #fff;
    line-height: 4em;
    text-shadow: 2px 2px 5px #000;
  }
  .bannertexto h1 {
    font-size: 40px;
    line-height: normal;
    letter-spacing: 0.05em;
  }
  .bannertexto h3 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: normal;
  }
  /*infouno*/
  .infouno {
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #E8EDDF;
  }
  .colizquierda {
    text-align: center;
    font-size: 24px;
    padding: 40px;
  }
  .colizquierda h3 {
    font-weight: 600;
    padding-bottom: 25px;
  }
  .caja {
    font-size: 20px;
    line-height: 1.5em;
    display: inline-block;
  }
  .caja__variante {
    line-height: 1.3em;
    font-size: 20px;
    margin-top: 10px;
    font-style: oblique;
    font-weight: 500;
  }
  .colderecha {
    margin-bottom: -4px;
  }
  /*comotrabajamos*/
  #comotrabajamos {
    color: #fff;
    background-image: url("../assets/img/banner_home.jpg");
    background-color: rgba(24, 24, 24, 0.6);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: none;
    min-height: 70vh;
    background-attachment: fixed;
    background-position: center;
    padding-top: 50px;
    text-align: center;
  }
  #comotrabajamos h1 {
    font-size: 45px;
    padding: 0 20px 0 20px;
  }
  /*CTA*/
  #cta {
    padding-top: 30px;
  }
  #cta h1 {
    font-size: 30px;
  }
  .btn_cta {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin-top: 30px;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    background-color: #D9BF77;
  }
  /*bannersinternos*/
  .bannerintro {
    text-align: center;
    padding-top: 50px;
  }
  .bannerintrotexto h2 {
    font-size: 30px;
    padding: 0 30px 0 30px;
    line-height: normal;
  }
  /*Pie de página*/
  .pie {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #333533;
  }
  .pie img {
    width: 60px;
  }
  .navegacion_pie {
    display: none;
  }
  /*somos*/
  #equipo h1 {
    font-size: 40px;
  }
  .box2 {
    color: #fff;
    background-color: #242423;
    width: 90%;
    margin-bottom: 20px;
  }
  .box2 h4 {
    font-size: 18px;
    margin-top: 20px;
  }
  .box2 p {
    padding: 10px 0 20px 0;
  }
 
  .portfolio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
  /*Contacto*/
  .contacto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    text-align: center;
    padding: 20px;
  }
  .contanos {
    text-align: center;
    width: 100%;
    color: #8aa89e;
  }
  .contanos h1 {
    font-size: 48px;
    font-weight: 200;
    padding: 25px;
  }
  .form {
    padding: 20px;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 16px;
    text-align: left;
  }
}
