@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;1,400;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Landing nueva eventos entrega*/
/* map*/
/*MIXIN*/
.galeria_landing {
  background-color: #242423;
}

.tarjeta, .tarjeta_2, .tarjeta_3 {
  width: 25%;
  background-color: #D9BF77;
}

.tarjeta img, .tarjeta_2 img, .tarjeta_3 img {
  width: 100%;
}

.descripcion {
  margin-top: 20px;
  padding: 30px;
}

.descripcion h1 {
  font-size: 25px;
}

.saber {
  background-color: #242423;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #fff;
  padding: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 4px 12px;
  border-radius: 10px;
}

.saber:hover {
  color: #fcffd2;
  box-shadow: rgba(252, 255, 210, 0.9) 0px 8px 12px;
  border-radius: 8px;
}

.tarjeta_2 {
  background-color: #e7cf8e;
}

.tarjeta_3 {
  background-color: #f7de9a;
}

/**/
/*Tipografías*/
h1, h2, h3, h4, h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

p {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.fondo {
  background-color: #242423;
}

.bannerintro {
  background-image: url("../assets/img/006uplight.jpg");
  background-color: rgba(15, 15, 15, 0.5);
  background-blend-mode: multiply;
  text-align: center;
  padding: 50px 0 50px 0;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 601px) and (max-width: 900px) {
  .bannerintro {
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .bannerintro {
    text-align: center;
    padding-top: 50px;
  }
}

.bannerintro .bannerintrotexto {
  color: #fff;
}

.bannerintro .bannerintrotexto h2 {
  font-size: 45px;
}

@media (min-width: 601px) and (max-width: 900px) {
  .bannerintro .bannerintrotexto h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 600px) {
  .bannerintro .bannerintrotexto h2 {
    font-size: 25px;
    padding: 0 20px 0 20px;
  }
}

/*//Sección prueba para extend*/
.info-2col {
  background-color: #D9BF77;
}

.infouno {
  height: auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  align-content: center;
  align-items: center;
  background-color: #D9BF77;
}

@media (min-width: 601px) and (max-width: 900px) {
  .infouno {
    height: auto;
    display: grid;
  }
}

@media (max-width: 600px) {
  .infouno {
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-content: center;
  }
}

.infouno .colizquierda {
  grid-column: 2/6;
  grid-row: 2/10;
  display: inline-block;
  text-align: left;
  padding: 50px;
}

@media (min-width: 601px) and (max-width: 900px) {
  .infouno .colizquierda {
    grid-column: 2/6;
    text-align: left;
    padding: 20px;
  }
}

.infouno .colizquierda h3 {
  font-weight: 600;
  padding-bottom: 25px;
}

@media (min-width: 601px) and (max-width: 900px) {
  .infouno .colizquierda h3 {
    font-weight: 600;
    padding-bottom: 18px;
  }
}

.infouno .colderecha {
  grid-column: 6/10;
  grid-row: 2/10;
}

.infouno .colderecha .pic img {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 30px 60px;
}

.caja {
  font-size: 20px;
  line-height: 1.5em;
}

@media (min-width: 601px) and (max-width: 900px) {
  .caja {
    font-size: 20px;
    line-height: 1.5em;
    display: inline-block;
  }
}

.caja__variante {
  line-height: 1.3em;
  font-size: 23px;
  margin-top: 10px;
  font-weight: 500;
  font-style: oblique;
}

@media (min-width: 601px) and (max-width: 900px) {
  .caja__variante {
    line-height: 1.3em;
    font-size: 18px;
    margin-top: 10px;
    font-style: oblique;
    font-weight: 500;
  }
}

.video_home {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 30px 60px;
}

i {
  padding: 30px 0 30px 0;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#equipo, .galeria_landing {
  padding: 100px 50px 80px 50px;
  text-align: center;
  background-color: #E8EDDF;
}

#equipo h1, .galeria_landing h1 {
  margin-bottom: 50px;
}

#equipo .cajagrande, .galeria_landing .cajagrande, #equipo .contenedor_tarjetas, .galeria_landing .contenedor_tarjetas {
  max-width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 20px;
}

@media screen and (max-width: 600px) {
  #equipo .cajagrande, .galeria_landing .cajagrande, #equipo .contenedor_tarjetas, .galeria_landing .contenedor_tarjetas {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

#equipo .cajagrande .box2, .galeria_landing .cajagrande .box2, #equipo .contenedor_tarjetas .box2, .galeria_landing .contenedor_tarjetas .box2 {
  color: #fff;
  background-color: #242423;
  width: 30%;
  padding: 50px 20px 30px 20px;
}

#equipo .cajagrande .box2 h4, .galeria_landing .cajagrande .box2 h4, #equipo .contenedor_tarjetas .box2 h4, .galeria_landing .contenedor_tarjetas .box2 h4 {
  margin-top: 50px;
}

#equipo .cajagrande .box2 img, .galeria_landing .cajagrande .box2 img, #equipo .contenedor_tarjetas .box2 img, .galeria_landing .contenedor_tarjetas .box2 img {
  border-radius: 50px 100px;
}

#equipo .cajagrande .box2 img:hover, .galeria_landing .cajagrande .box2 img:hover, #equipo .contenedor_tarjetas .box2 img:hover, .galeria_landing .contenedor_tarjetas .box2 img:hover {
  animation: tilt 0.15s infinite;
}

@media (min-width: 601px) and (max-width: 900px) {
  #equipo .cajagrande .box2, .galeria_landing .cajagrande .box2, #equipo .contenedor_tarjetas .box2, .galeria_landing .contenedor_tarjetas .box2 {
    width: 30%;
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (max-width: 600px) {
  #equipo .cajagrande .box2, .galeria_landing .cajagrande .box2, #equipo .contenedor_tarjetas .box2, .galeria_landing .contenedor_tarjetas .box2 {
    width: 100%;
    margin: 0px;
  }
}

.galeria {
  padding: 50px;
}

.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

@media (min-width: 601px) and (max-width: 900px) {
  .portfolio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
  }
}

.portfolio img {
  width: 100%;
  height: auto;
}

/*Contacto*/
.contacto {
  width: 100%;
  display: flex;
  align-content: space-between;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media (min-width: 601px) and (max-width: 900px) {
  .contacto {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 600px) {
  .contacto {
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.contacto .contanos {
  text-align: left;
  width: 40%;
  color: #8aa89e;
  padding: 50px;
}

@media (min-width: 601px) and (max-width: 900px) {
  .contacto .contanos {
    width: 50%;
    padding: 0px;
  }
}

@media screen and (max-width: 600px) {
  .contacto .contanos {
    flex-direction: column;
    align-self: flex-start;
    text-align: center;
  }
}

.contacto .contanos h1 {
  font-size: 80px;
  font-weight: 200;
}

@media screen and (max-width: 600px) {
  .contacto .contanos h1 {
    font-size: 60px;
  }
}

.form {
  line-height: 2.3rem;
  width: 40%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 15px;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .form {
    line-height: 2.3rem;
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .form {
    width: 100%;
    padding: 20px;
  }
}

.form .form_p {
  font-size: 18px;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 0;
}

.video-container {
  background: black;
  height: 75vh;
  min-height: 25rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-container .overlay {
  background-image: linear-gradient(rgba(39, 37, 37, 0.212), #000);
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.video-container video {
  height: auto;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 40%;
  width: auto;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
}

.video-container .container {
  position: relative;
  z-index: 2;
}

.pie {
  height: 20vh;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  background-color: #333533;
}

@media (min-width: 601px) and (max-width: 900px) {
  .pie {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
    background-color: #333333;
  }
}

.pie img {
  width: 80px;
  grid-column: 2/4;
  margin: 5px 0 px 0;
}

@media (min-width: 601px) and (max-width: 900px) {
  .pie img {
    width: 60px;
  }
}

.pie .navegacion_pie {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #f0f0f0;
  grid-column: 5/7;
  display: flex;
  justify-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  .pie .navegacion_pie {
    display: none;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .pie .navegacion_pie {
    font-size: 11px;
  }
}

.pie .navegacion_pie a {
  color: #ddd;
  padding: 0 5px 0 5px;
  text-decoration: none;
}

.pie .navegacion_pie a:hover {
  color: #fff;
}

.pie li {
  list-style: none;
}

.pie .redes {
  grid-column: 9/11;
}

@media screen and (max-width: 600px) {
  .pie .redes {
    grid-column: 7/10;
  }
}

.pie .redes a {
  padding: 5px;
  color: white;
}

/*Galería eventos*/
.galeria {
  padding: 80px;
}

@media screen and (max-width: 600px) {
  .galeria {
    padding: 20px;
  }
}

/*back to top btn*/
.top {
  font-size: 40px;
  color: #8aa89e;
  opacity: 0.6;
  border-radius: 100px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

.top:hover {
  color: #fff;
}

@media screen and (max-width: 900px) {
  .top {
    right: 30px;
    bottom: 20px;
  }
}

.icono:hover {
  animation: tilt 0.50s ease-in-out;
}

.bordesco {
  border-radius: 30px 60px;
}

.contiene {
  position: relative;
}

.contiene:hover {
  opacity: 1;
}

.contiene:active {
  opacity: 1;
}

.overlay-2 {
  border-radius: 30px 60px;
  position: absolute;
  top: 2%;
  left: 5%;
  height: 90%;
  width: 90%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(15, 15, 15, 0.7);
}

.overlay-2:hover {
  opacity: 1;
}

.overlay-2:active {
  opacity: 1;
}

.textup {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.btn {
  margin-top: 20px;
}
