/*Mediaqueries*/

@media (min-width:601px) and (max-width:900px) {


	.navegacion_pie a {
		padding: 5px;
	   }	
/*contacto*/
.contacto {
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: space-around;
	text-align: center;
	padding: 20px;
}


.contanos h1 {
	font-size: 58px;
	font-weight: 200;
}


.contanos {
	text-align: center;
	width: 50%;
	color: #8aa89e;
}

.form {
	padding: 20px;
	width: 50%;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #fff;
	font-size: 16px;
	text-align: left;

}

}
/*mobile*/

@media screen and (max-width:600px) {
/*
.cabecera {
	width: 100%;
	height: 10vh;
   	position: fixed;
	z-index:9999;
}
*/
.logo {
     width: 50px;
 }

 .cabecera .navegacion {
     display:none;
 }

 .toggle {
    display: inline-block;
    grid-column: 9/10;

 }

.bannerhome {
	height: 80vh;
	background-image:linear-gradient(to bottom, rgba(253, 249, 249, 0), rgba(0, 0, 0, 0.6)),url('../assets/img/sparkshome_mobile2.jpg');
    background-blend-mode: multiply;
    display: grid;
	justify-content: center;
	grid-template-columns: repeat(8,1fr);
	grid-template-rows: repeat(8,1fr);
	background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;	
	max-width: 100%;
}
.bannertexto {
	grid-column: 2/8;
	grid-row: 5/10;
	text-align: center;
	color: #fff;
	line-height: 4em;
	text-shadow: 2px 2px 5px #000;
}

.bannertexto h1{
	font-size: 40px;
    line-height: normal;
	letter-spacing: 0.05em;
}

.bannertexto h3{
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	line-height: normal;
}

/*infouno*/

.infouno{
	height: auto;
	display: flex;
    flex-direction: column;
	align-content: center;
	background-color: #E8EDDF;
}


.colizquierda {
	text-align: center;
	font-size: 24px;
	padding: 40px;
}

.colizquierda h3{
	font-weight: 600;
	padding-bottom: 25px;
}


.caja {
	font-size: 20px;
	line-height: 1.5em;
	display: inline-block;
}
.caja__variante {
	line-height: 1.3em;
	font-size: 20px;
	margin-top: 10px;
	font-style: oblique;
	font-weight: 500;
}

.colderecha {
	margin-bottom: -4px;
}

/*comotrabajamos*/

#comotrabajamos{
	color:#fff;
	background-image: url('../assets/img/banner_home.jpg');
	background-color: rgba(24, 24, 24, 0.6);
	background-blend-mode: multiply;
	background-size: cover;
	background-repeat: none;
	min-height: 70vh; 
	background-attachment: fixed;
	background-position: center;
	padding-top: 50px;
	text-align:center;	
}

#comotrabajamos h1{
	font-size: 45px;
	padding: 0 20px 0 20px;
}



/*CTA*/

#cta {
	padding-top: 30px;

}


#cta h1{
	font-size: 30px;
}

.btn_cta {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	text-decoration: none;
	color: rgb(255, 255, 255);
	margin-top: 30px;
	padding: 10px 20px 10px 20px;
	border-radius: 5px;
	background-color: #D9BF77;
}

/*bannersinternos*/

.bannerintro {
	text-align: center;
	padding-top: 50px;
}
.bannerintrotexto h2{
font-size: 30px;
padding: 0 30px 0 30px;
line-height: normal;
}

/*Pie de página*/


.pie {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	background-color: #333533;

}

.pie img {
	width: 60px;
}

.navegacion_pie {
display: none;
}

/*somos*/

#equipo h1{
	font-size: 40px;
}

.box2 {
	color: #fff;
	background-color: #242423;
	width: 90%;
	margin-bottom: 20px;
}
.box2 h4 {
	font-size: 18px;
	margin-top: 20px;
}
.box2 p {
	padding: 10px 0 20px 0;

}

/*iluminacion*/

.producto {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.col_slides {
	width: 100%;
}

.col_slides img{
	width: 100%;
}

.col_desc {
	width: 100%;
}

.col_desc h2{
	font-size: 25px;
}

.col_desc p{
	font-size: 14px;
}

.portfolio {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
}

/*Contacto*/

.contacto {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
	text-align: center;
	padding: 20px;
}

.contanos {
	text-align: center;
	width: 100%;
	color: #8aa89e;
}
.contanos h1 {
	font-size: 48px;
	font-weight: 200;
	padding: 25px;
}

.form {
	padding: 20px;
	width: 100%;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #fff;
	font-size: 16px;
	text-align: left;

}

}
