* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}
//IMPORT
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;1,400;1,500&display=swap');
@import "colores";

//Variables
$fuente_ppal:'Raleway', sans-serif;
$subtitulos: 500;
$texto: 400;
$especial: oblique ;
$jumbo:200;


/*Tipografías*/

h1,h2,h3,h4,h5 {
    font-family: $fuente_ppal;
    font-weight: $subtitulos;    
}

p {
    font-family: $fuente_ppal;
    font-weight: $texto;
}

.fondo {
	background-color: $color_secundario;
}

*/

//NESTING
.bannerintro {
	background-image: url('../assets/img/006uplight.jpg');
	background-color: rgba(15, 15, 15, 0.5);
	background-blend-mode: multiply;
	text-align:center;
	padding: 50px 0 50px 0;
	height: 150px;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;	
    @media (min-width:601px) and (max-width:900px) {
        padding-top: 20px;
    }

.bannerintrotexto {
	color: #fff;
	line-height: 3em;
	margin-top: 20px;
	margin-bottom: 20px;

    h2 {
	font-size: 45px;
    color: #fff;
	line-height: 3em;
	margin-top: 20px;
	margin-bottom: 20px;
   
    @media (min-width:601px) and (max-width:900px) {
        font-size: 30px;
		line-height: normal;
    }
    }
}
}

//Seccion INFO UNO HOME Nesting

.infouno{
	height: auto;
	display: grid;
	grid-template-columns: repeat(10,1fr);
	grid-template-rows: repeat(10,1fr);
	align-content: center;
    align-items: center;
	background-color: $color_ppal;

    @media (min-width:601px) and (max-width:900px) {
        height: auto;
		display: flex;
		flex-direction: column;
		align-content: center;
		background-color: #E8EDDF;
    }

.colizquierda {
	grid-column: 2/6;
	grid-row: 2/10;
	display: inline-block;
	text-align: left;
	padding: 50px;

    @media (min-width:601px) and (max-width:900px) {
        text-align: center;
		padding: 40px;
    }

    h3 {
	font-weight: 600;
	padding-bottom: 25px;
    @media (min-width:601px) and (max-width:900px) {
        font-weight: 600;
		padding-bottom: 18px;
    }

        }
    }

.colderecha {
	grid-column: 6/10;
	grid-row: 2/10;
    
    .pic img {
    object-fit: cover;
    width: 100%;
    height: auto;
        }
    }
}

.caja {
	font-size: 20px;
	line-height: 1.5em;
    @media (min-width:601px) and (max-width:900px) {
        font-size: 20px;
		line-height: 1.5em;
		display: inline-block;
    }

}
.caja__variante {
	line-height: 1.3em;
	font-size: 23px;
	margin-top: 10px;
    font-weight: $subtitulos;
	font-style: $especial;

    @media (min-width:601px) and (max-width:900px) {
        line-height: 1.3em;
		font-size: 18px;
		margin-top: 10px;
		font-style: oblique;
		font-weight: 500;
    }

}

.video_home {
	object-fit: cover;
	width: 100%;
	height: auto;
}

//iconos como trabajamos
i {
	padding:30px 0 30px 0;
}

//sección somos Equipo NESING

#equipo {
	padding: 50px;
	text-align: center;
	background-color: $celeste;

    h1 {
        margin-bottom: 50px;
    }
    
    .cajagrande {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:20px;

        @media screen and (max-width:600px) {
            max-width: 100%;
	        flex-direction: column;
	        align-items: center;
	        justify-content: center;
        }
    
        .box2 {
            color: #fff;
            background-color: $color_secundario;
            margin: 80px 25px 80px 0;
            width: 30%;
            padding: 50px 20px 30px 20px;

            h4 {
                margin-top: 50px;
            }
            
            img {               
                border-radius: 50px 100px;
            }

            @media (min-width:601px) and (max-width:900px) {
                width: 30%;
                padding: 0px;
                margin: 0px;
            }

            @media screen and (max-width:600px) {
                width: 100%;
                margin: 0px;
            }

        } 
    }

}
//seccion eventos SIN TERMINAR

.galeria {
	padding: 50px;
}

.portfolio {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 15px;

    @media (min-width:601px) and (max-width:900px)  {
        display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 15px;
	grid-row-gap: 15px;
    }
}

.portfolio img {
	width: 100%;
	height: auto;

}

/*Contacto*/

.contacto {
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	text-align: center;
	padding: 120px;

.contanos {
	text-align: left;
	width: 40%;
	color: $acento;

    h1 {
        font-size: 80px;
        font-weight: $jumbo;
    }

.form {
	line-height: 2.3rem;
	width: 50%;
	font-family: $fuente_ppal;
	font-weight: $texto;
	color: #fff;
	font-size: 15px;
	text-align: left;

    .form_p {
        font-size: 18px ;
        font-weight: 600;
        margin-top: 1rem;
        margin-bottom: 0;
    }
 }
}
}
// Video home CSS 

.video-container {
	background: black;
	height: 75vh;
	min-height: 25rem;
	overflow: hidden;
	position: relative;
	width: 100%;

 
 .overlay {
   background-image:linear-gradient(rgba(39, 37, 37, 0.212), #000);
   height: 100%;
   left: 0;
   opacity: 0.9;
   position: absolute;
   top: 0;
   width: 100%;
   z-index: 1;
 }
 
  video {
   height: auto;
   left: 50%;
   min-width: 100%;
   min-height: 100%; 
   position: absolute;
   top: 40%;
   width: auto;
   z-index: 0;
   -ms-transform: translateX(-50%) translateY(-50%);
   -moz-transform: translateX(-50%) translateY(-50%);
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
 }
 
 .container {
   position: relative;
   z-index: 2;
 }
}
 
///Pie de página

.pie {
	height: 20vh;
	display: grid;
	grid-template-columns: repeat(10,1fr);
	align-items: center;
	background-color: #333333;

    @media (min-width:601px) and (max-width:900px){
        display: flex;
	    align-items: center;
		justify-items: center;
		justify-content: space-evenly;
		background-color: #333333;	
    }
    
    img {
	width: 80px;
    grid-column: 2/4;
	margin: 5px 0 px 0;

    @media (min-width:601px) and (max-width:900px) {
        width: 60px;
    }
}

.navegacion_pie {
	font-family: $fuente_ppal;
	font-size: 14px;
	color: rgb(240, 240, 240);
	grid-column: 5/7;
	display: flex;
	justify-content: space-around;

    @media (min-width:601px) and (max-width:900px) {
        font-size: 11px;
    }

    a {
	color: #ddd;
	text-decoration: none;    
        &:hover {
            color: red;
        }
        }
    }

    li{
	list-style: none;
    }

.redes {
	grid-column: 9/11;
  a {
	padding: 5px;
	color:rgb(255, 255, 255);
    }
 }
}

